
{{#partial "content"}}

    {{#if transaction}}

        <h1>Transaction with id: {{transaction.id}}</h1>

        <p>Transaccion de <a href='/users/{{transaction.from.id}}'>{{transaction.from.name}}</a> to <a href='/users/{{transaction.to.id}}'>{{transaction.to.name}}</a> with an amount of
            {{transaction.amount}} bitcoins</p>
        <p>Concept: {{transaction.concept}}</p>

    {{else}}

        <p>Transaction not found!</p>

    {{/if}}

{{/partial}}

{{> base}}

