
{{#partial "content"}}

    <h1>TRANSACTIONS</h1>

    {{#if transactions}}
        <div>
            <ul>
                {{#transactions}}
                    <li>{{id}} - <a href='/users/{{from.id}}'>{{from.name}}</a> gives <a href='/transactions/{{id}}'>{{amount}} bitcoins</a> to
                        <a href='/users/{{to.id}}'>{{to.name}}</a></li>
                {{/transactions}}
            </ul>
        </div>

    {{else}}

        <div>No transactions to show!</div>

    {{/if}}

{{/partial}}

{{> base}}