
{{#partial "content"}}

    <h1>USERS</h1>

    <div class="user search">
        <h2>Buscar usuarios:</h2>
        <input type="text" placeholder="User to seach">
        <button>Search</button>
    </div>

    <div>
        <form class="search-box">
            <h2>Buscar usuarios API:</h2>
            <input type="text" placeholder="User to seach">
            <button>Search</button>
        </form>
    </div>

    {{#if users}}
        <div>
            <ul>
                {{#users}}
                    <li onclick="openInNewTabWithAjax({{id}})"><a href="users/{{id}}">{{id}} - {{.}}</a></li>
                {{/users}}
            </ul>
        </div>

    {{else}}

        <div>No users to show!</div>

    {{/if}}

{{/partial}}

{{> base}}

<script src="assets/js/userList.js"></script>
<script src="assets/js/setupUserSearchBox.js"></script>
